.event-game-container{
    height: 10vh;
    border-bottom: 1px black solid;
}

.event-host-container{
    height: 5vh;
    border-bottom: 1px black solid;
        margin: 0;
}

.event-date-address-container{
    height: 15vh;
    border-bottom: 1px black solid;
        display: flex;
        vertical-align: middle;
        justify-content: center;
}

.event-players-joined-container{
    height: 10vh;
    border-bottom: 1px black solid;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}


.event-bottom-button{
    width: 100%;
}


.full-game-container{
    height: 10vh;
            display: flex;
        vertical-align: middle;
        justify-content: center;
}
/* 
div.event-details > h1 {

        height: 10vh;
}

div.main-container-event>div.event-host {
    padding: 5px;
    margin: 5px;
    display: flex; 
    height: fit-content;
    margin-top:1%;
    margin-bottom: 1%;

    justify-content: center;
}

div.main-container-event>div.event-host>h3{
    margin: auto;
}

div.main-container-event>div.event-host>h6{
    margin: auto;
}

div.main-container-event>div.event-host>h6>ul{
    margin: 0;
}

.joinButton > a{
    color: black;
}

div.main-container-event>div.event-host>h6>a:hover{
    color: #2bbbad;
}

@media only screen and (min-width: 1020px){
    div.event-details {
        height: 100px;
    }
    div.main-container-event>div.event-host>h3{
        font-size: 60px;
    }
    
    div.main-container-event>div.event-host>h6{
        font-size: 40px;
    }
    div.main-container-event {
        padding-left: 200px;
        padding-right: 200px;
    }
} */