.profile-name-container {
  margin: 10px 10px;
  background-color: rgba(217, 225, 232, 0.750);
}

.profile-button-container>div {
  margin: 10px 10px;
}

.profile-button-container>div>a.profile-btn {
  width: 100%;
  background-color: #2B90D9;
}

div>a.nav-link {
  padding: unset;
}

div>a.btn:hover {
  background-color: rgb(22, 134, 214);
}

div>a.btn:active {
  background-color: rgb(22, 134, 214);
  transform: scale(0.98);
}

.content-container {
  margin-top: 50px;
  overflow: auto;
  margin-bottom: 70px;
}


@media only screen and (min-width: 1020px) {

  .profile-name-container,
  .profile-button-container>div {
    margin: 15px 200px;
  }
}

@media only screen and (min-width: 1400px) {

  .profile-name-container,
  .profile-button-container>div {
    margin: 15px 400px;
  }
}