.profile {
    height: 80vh;
}

h2{
    background-color: #282C37;
    /*font-family: 'Permanent Marker', cursive;*/
    padding: 18px;
    height: 15vh;
    color: WHITE;
    font-size: 5em;
    margin: 0;
}

.profile-button-container{
    background-color: #D9E1E8;
    font-size: 14px;
    font-weight: bold;
    padding: 1px;
    height: 100%;
 }

.user-info {
    background-color: #D9E1E8;
    margin: 0;
    padding: 12px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.buttons > link {
    height: 55vh;
}
.create-event-btn, .available-events-btn, .my-hosted-events-btn, .my-joined-events-btn{
    /*background-image: linear-gradient(green, white);*/
    background-color: #2B90D9;
    /*font-family: 'Permanent Marker', cursive;*/
    font-size: 1em;
    margin-top: 45px;
    border-radius: 2px;
    padding: 33px;
    width: 100%;
    text-align: center;
    line-height: 0px;
    color: white;
    box-shadow: 3px 7px #0F4434;
    font-weight: bold;
}

.profile > div {
    border-bottom: 1px solid black;
    
}

@media only screen and (min-width: 1020px){
    .profile-btn {
        width: 25vw;
        height: 90%;
        align-self: center;
        font-size: 40px;
    }
}