.profile-button-container .btn{
    margin: 15px 15px;
    width: 90%;
}

.profile-image {
    height: 18vh;
    border: 1px solid black;
}

.user-info {
    height: 25vh;
    border: 1px solid black;
}