.header-container{
    height: 15VH;
    text-align: center;
}


.main-container{
    height: 72vh;
    text-align: center;
}

.footer-container{
    height: 10vh;
    text-align: center;
}

.event-container{
    height: 100%;
    width: 100%;
<<<<<<< HEAD:src/components/events/events.css
=======
    display: inline-block;
>>>>>>> dev:src/assets/css/events.css

}

.event-info-container{
    display: inline-block;
    width: 75%;
    
}

.event-image {
    display: inline-block;
<<<<<<< HEAD:src/components/events/events.css
    width: 18vw;
}

.event-list-button {
    display: inline-block;
    height: 20vh;
    width: 100%;
    margin-top: 4%;
}

h1 {
    font-size: 3.5rem;
=======
    width: 20%;
}

.event-list-button {
    height: 15vh;
    width: 100%;
>>>>>>> dev:src/assets/css/events.css
}