.header-events-container {
    background-color: #282C37;
    height: 10vh;
    width: 100%;
    display: felx;
    vertical-align: middle;
    justify-content: center;
}


.header-events-container > h1{
       color: white;
       font-family: -apple-system,
       sans-serif;
}

.main-events-container{
    height: 78vh;
    text-align: center;
    overflow: scroll;
}
.events-container{

    width: 100%;
    margin: auto;
    display: inline-block;
    color: black;
    font-weight: bold;
}
.events-info-container{
    display: inline-block;
    width: 70%;
    height: 100%;
    line-height:.7;
    vertical-align: top;
}
.events-info-container > p {
    vertical-align: middle;
}

.events-list-button{
    background-color: #D9E1E8;
    padding: 6px;
}

.events-image {
    margin-top: 3px;
    display: inline-block;
    width: 30%;
    height: 90%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 7px black;
}

.events-list-button {
    display: inline-block;
    height: 15vh;
    width: 100%;
}

.header-events-container > h1 {
    font-size: 3.5rem;
    margin: 0;
}

.no-available-events,
.loading-events,
.hosted-events-header {
    color:white;
}

.main-container-event{
    margin: 0px;
    padding: 30px;
}

.loading-screen-text{
    font-size: 3em;
}