.events-container {
    color: black;
    font-weight: bold;
    border: 1px black solid;
    margin: 10px 20px;
}
.header-events-container {
    height: 40px;
}
p.events-title, 
p.events-player-count, 
p.events-date-time{
    margin: 0;
}
.events-list-button,
.events-container {
    display: block;
    background-color: rgba(217, 225, 232, 0.750);
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    transition: background-color .2s ease-out;
    border-radius: 1px;
    -webkit-tap-highlight-color: transparent;
}
.events-list-button:hover {
    background-color: #2bbbad;
}


.events-info-container > p {
    vertical-align: middle;
    display: block;
}


.events-list-button:hover{
    background-color: #2bbbad;
}

.header-events-container > h1 {
    font-size: 45px;
    margin: 0;
}

.no-available-events,
.loading-events,
.hosted-events-header {
    color:white;
}

.main-container-event{
    margin: 0px;
    padding: 30px;
}

.loading-screen-text{
    font-size: 3em;
}

@media only screen and (min-width: 1020px){
    .events-container {
        margin: 15px 200px;
    }
}
@media only screen and (min-width: 1400px){
    .content-container {
        padding-bottom: unset;
        padding-top: 60px;
    }
    .events-container {
        margin: 15px 600px;
    }
    p.events-title, 
    p.events-player-count, 
    p.events-date-time{
        font-size: 24px;
    }

}