h1{
    color: white;
    margin: 0 0 5% 0;
}

.about-author-container {
    margin-bottom: 1%;
    text-align: center;
}

.about-image > img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 3px 7px white;
}

.about-name{
    color: white;
    font-size: 1.5em;
}

.main-div > .about-main-container {
    background-color: rgb(13, 86, 55);
    margin-bottom: 21%;
}

.about-url {
    font-size: 1.5em;
    /*margin-bottom: 10%;*/
}

/*@media only screen and (max-height: 600px) {*/
    /*.main-div > .about-main-container {*/
        /*background-color: lightblue;*/
    /*}*/
/*}*/