h1{
    color: black;
    margin: 0 0 5% 0;
}

.about-author-container {
    margin-bottom: 1%;
    text-align: center;
}

.about-image > img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 3px 7px #2B90D9;
;
}

.about-name{
    color: black;
    font-size: 1.5em;
}

.main-div > .about-main-container {
    background: #D9E1E8;
    margin-bottom: 21%;
}

.about-url > a {
    font-size: 1.5em;
    color: black;
}

