@font-face {
    font-family: quest;
    src: url(../fonts/quest.ttf);
}

.loading-text {
    font-size: 4rem;
}

body {
    margin: 0;
    overflow: hidden;
}


#root {
    width: 100%;
    overflow: hidden;
}

.main-div {
    overflow: hidden;
    height: 100vh;
}

.main-container {
    height: 100vh;
    text-align: center;
    overflow: hidden;

}

.header-container {
    background-color: #282C37;
    height: 40px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
     font-family: -apple-system,
     BlinkMacSystemFont,
     'Segoe UI',
     Roboto,
     Oxygen,
     Ubuntu,
     Cantarell,
     'Open Sans',
     'Helvetica Neue',
     sans-serif;
}


.header-container>h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    font-size: 38px;
}

.content-container {
    height: 100vh;
    padding-bottom: 101px;
    background-image: url("../images/dice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    overflow-y: scroll;
}

.app {
    background-color: #D9E1E8;
    color: #FFF;
    font-family: quest;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.app .logo {
    height: 220px;
    filter: drop-shadow(2px 2px 0px #FFF);
}

.app h1 {
    color: #61DAFB;
    font-size: 5em;
    letter-spacing: 5px;
    margin: 0.16em;
    text-shadow: 2px 2px 0 #FFF;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.input-field {
    text-align: left;
}

.loading-screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}