@font-face {
    font-family: quest;
    src: url(../fonts/quest.ttf);
}

.loading-text{
    font-size: 4rem;
}

body {
    margin: 0;
    background-color: #D9E1E8;

}

#root{
    /* background-image: url("../images/dice.jpg"); */
    background-color: #D9E1E8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

/*.btn{*/
    /*background-color: darkslategray;*/
    /*display: flex;*/
/*}*/

.app {
     background-color: #D9E1E8;
    color: #FFF;
    font-family: quest;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.app .logo {
    height: 220px;
    filter: drop-shadow(2px 2px 0px #FFF);
}

.app h1 {
    color: #61DAFB;
    font-size: 5em;
    letter-spacing: 5px;
    margin: 0.16em;
    text-shadow: 2px 2px 0 #FFF;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.input-field {
    text-align: left;
}

.loading-screen-container {
position: absolute;
top :0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}