form {
  padding-top: 20px;
  margin-bottom: 10px;
  margin: 10px 10px;
}
input.form-field {
  margin: auto;
}

input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
  margin: 5px;
  background-color: rgba(217, 225, 232, 0.750);
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=number]:not(.browser-default) {
  font-size: 20px;
  width: 90%;
  text-align: center;
  background-color: rgba(217, 225, 232, 0.750);
}
label {
  background-color: rgba(217, 225, 232, 0.750);
  padding: 5px;
  border-radius: 5px;
  color: #2196F3;
  border: 1px solid black;
}
.form-container {
  text-align: center;
}

label.form-label {
  color: rgb(43, 110, 217);
  font: bolder;
  font-size: 20px;
  background-color: rgba(217, 225, 232);
  border-radius: 5px;
  border: none;
  padding: 4px;
}
button.sign-in-button,
button.edit-event-button {
  width: unset;
  margin: 5px;
}

@media only screen and (min-width: 700px) {
  .form-group {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
  .content-container {
    margin: 10vh 12vh 14vh 12vh;
  }

  label.form-label {
    font-size: 16px;
  }

  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=number]:not(.browser-default) {
    font-size: 16px;
    width: 90%;
  }
}

@media only screen and (min-width: 1020px){
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=number]:not(.browser-default) {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  button.sign-in-button,
  button.edit-event-button {
    font-size: 24px;
  }

  @media only screen and (min-width: 1400px) {
    .content-container {
      margin: 100px 20vw 40px 20vw;
    }

    label.form-label {
      font-size: 22px;
    }

    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=number]:not(.browser-default) {
      width: 70%;
      font-size: 22px;
    }
  }
}