
.landing-page-header {
    background-image: linear-gradient(beige, forestgreen);
    height: 20vh;
    padding: 6px 0 0 0;
}

.landing-page-header > h1 {
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke: 1px white;
    color: black;
}

.landingpage-main-container {
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.imgur.com/3QhNw7q.jpg?1");
    background-position: center;
    background-size: cover;
    text-align: center;
}

/*.landingpage-main-container > .btn{*/
    /*text-align: center;*/
/*}*/

.main-div > .back{
    height: 89vh;
    overflow: hidden;
}

/*.mainNav {*/
    /*height: 20vh;*/
/*}*/

.play-button{
    padding: 15px 25px;
    -webkit-text-stroke: 1px white;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    text-align: center;
    color: black;
    background-image: linear-gradient(beige, forestgreen);
    border-radius: 5px;
    box-shadow: 3px 7px black;
    width: 90%;
    height: 20%;
}


.play-button:hover {background-color: #3e8e41}

.play-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



