/* .sign-out-page{
    background-color: grey;
    height: 100vh;
}

.header {
    background-color: darkslategrey;
    text-align: center;
    padding: 26px;
    height: 16vh;
    border: 1px solid black;
    margin: 0px;
    color: white;
}

.sign-out {
    background-color: lightgrey;
    text-align: center;
    margin: 60px auto;
    width: 75%;
    padding: 66px;
    font-size: 10px;
    color: black;
    border: 1px solid black;
    text-shadow: white;
}

.paragraph{
    font-size: 15px;
}

.sign-out-header{
    margin-bottom: 10px;
} */