.create-sign-up-container{
    background: #D9E1E8;
    margin: 30px 25px;
    opacity: .9;
    color: white;
    padding: 40px 20px;
    border: 2px solid black;
}

.sign-up{
    width: 100%;
}

.input-field {
    position: static;
    color:black;
}