.create-sign-up-container{
    background-color: #D9E1E8;
    /* box-shadow: 0px 0px 10px 10px black inset; */
    opacity: .9;
    color: white;
    /* border: 5px solid #8AE8CB; */
    overflow: scroll;
}

.sign-up-header{
        background-color: #0F4434;
    margin-bottom: 1%;
    width: 100%;
    padding: 1% 0 1% 0;
}

.sign-btn-container{
    display: flex;
    margin: 0 60px;
}

.input-field > #input-label {
    position: static;


}

.sign-up {
    width: 100%;
}