.sign-in-button {
    WIDTH: 100%;
}

/* .sign-in-main-container{
    background-color: #D9E1E8;
    box-shadow: 0px 0px 10px 10px black inset;
    opacity: .9;
    color: white;
    border: 5px solid #8AE8CB;
    overflow: scroll;
}

.sign-in-header{
    background-color: #282C37;
    margin-bottom: 1%;
    width: 100%;
    padding: 1% 0 1% 0;
}

.sign-btn-container{
  display: flex;
  margin: 0;
  width: 100%;
}

.sign-in{ 
    width: 100%;
}

input{
    color: white;
}

.or{
    padding:5px;
} */
