.sign-in-main-container{
    background: #D9E1E8;
    margin: 30px;
    opacity: .9;
    color: black;
    /*height: 65vh;*/
    padding: 1px 20px;
    border: 1px solid black;
}

.sign-btn-container > .sign-in{
  margin: 0 auto;
    width: 100%;

}

.row {
    color: black;
}
