.header-container{
    height: 20vh;
    text-align: center;
}


.main-container-event.center.main-div{
    height: 80vh;
    text-align: center;
    overflow: scroll;
}

.center > .main-container-event > .joinButton {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.main-container-event > div{
    background-color: beige;
    height: 10%;
    width: 100%;
    display: inline-block;
    border: black 1px solid;
    margin: 10px 0;
    padding: 11px;
    color: black;

}

.main-container-event > .address {
    color: black;
    height: auto;
    padding:0;
}

.event-list-button {
    height: 15vh;
    width: 100%;
}


h1 {
    font-size: 45px;
    margin: auto;
}

.game-picture > img{
    border: 2px solid black ;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.main-container-event{
    background-image: linear-gradient(beige, forestgreen);
    overflow: scroll;
    height: 91vh;
}

.full{
    padding: 12px;
    box-shadow: 0px 0px 10px 10px red inset;
}
.joinButton{
    background-color: #0F4434;
}

.main-container-event > .date {
    padding: 0px;

}

.join-game-button {
    width: 100%;
}

@media only screen and (min-width: 1020px) {
    h1 {
        font-size: 85px;
    }
}