.playerlist-date-address-container{
    vertical-align: middle;
    justify-content: center;
}

.player-list-main-container {
    overflow: auto;
    margin-top: 41px;
    padding-bottom: 110px;
    text-align: center;
}

.playerlist-date-address-container,
.player-list-limit,
.player-list {
    margin: unset;
    background-color: rgba(217, 225, 232, 0.750);
    margin: 10px 10px;
    border-radius: 5px;
}

a.player-list-back-btn{
    cursor: pointer;
}

@media only screen and (min-width: 1020px) {
    div.event-date-time-container>h6,
    div.event-address-container>h6,
    div.player-list-limit>h6,
    div.player-list>h6 {
        font-size: 35px;
    }
    div.event-date-time-container>ul>li,
    div.event-address-container>ul>li,
    div.player-list>table>tbody>tr {
        font-size: 22px;
    }
    .playerlist-date-address-container,
    .player-list-limit,
    .player-list {
        margin: 15px 200px;
    }
}

@media only screen and (min-width: 1400px) {
    .playerlist-date-address-container,
    .player-list-limit,
    .player-list {
        margin: 15px 400px;
    }
    .player-list-main-container {
        margin-top: 100px;
    }
}