
.nav {
  background-color: darkslategrey;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 12vh;
  position: fixed;
  bottom: 0;
}



label{
  font-size: 1.5rem;
}

.nav li {
  display: inline-block;
  font-size: 15px;
  width: 33%;

}

.sign-out-btn, .profile-btn, .event-btn {
  font-size: 9px;
  margin-top: 10px;
  border-radius: 25px;
}


