.nav-page-footer{
  background-color: grey;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

/* .nav {
  background-color: grey;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 12vh;
  position: fixed;
  bottom: 0;
} */

.nav-item {
  display: inline-block;
  width:33%;


}

label{
  font-size: 1.5rem;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;

}
