footer {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 12vh;
}

body {
  margin-bottom: 50px;
}


.nav {
  background-image: linear-gradient(beige, forestgreen);
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 15vh;
  border: 1px solid black;
}

label{
  font-size: 1.5rem;
}

.nav li {
  display: inline-block;
  width: 33%;
}

.sign-out-btn, .home-btn, .sign-up-btn, .sign-in-btn, .profile-btn, .event-btn{
  background-color: forestgreen;
  color: black;
  font-size: 14px;
  font-family: 'Permanent Marker', cursive;
  margin: 0 auto;
  margin-top: 16px;
  padding: 28px;
  text-align: center;
  line-height: 0px;
  border: 1px solid black;
  box-shadow: 3px 7px #0F4434;
}



